*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#navba{
    display: flex;
    height: 60px;
    align-items: center;
    /* border: black 2px solid; */
}
#a{
background: linear-gradient(rgb(228, 202, 118),red);
height: 80px;
width: 80px;
text-align: center;
color: white;
font-size: xx-large;
line-height: 80px;
}
.box1{
margin-left: 30px;
color: black;
margin-top: 30px;
font-size: 20px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box1 a{
text-decoration: none;
color: rgb(85, 75, 75);
}
#btn button{
background-color: transparent;
box-shadow: inset;
color: orange;
font-size: 20px;
border: none;
box-shadow: 20px;
padding: 15px;
margin-top: 30px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
background-color: azure;
}
#btn{
margin-left: 400px;
width: fit-content;
box-shadow: 4px;
}
#box2{
margin-top:100px ;
display: flex;
justify-content: space-around ;
}

#img{

height: 200px;
width: 600px;
}
#con{
width:600px;
height: 400px;
}
#div1{
width: fit-content;
background-color: azure;
padding: 5px;
margin-top: 5px;
}

#div2{
color: rgb(22, 65, 102);
font-size: 80px;
margin-top: 30px;
margin-bottom: 50px;
}
#div3{
color: rgb(177, 172, 172);

font-size: 20px;
}
body{
background: url(./programming-software-flat-design-concept-illustration-people-characters_9209-5424.jpg) no-repeat;
background-position: right;
background-position-y:100px ;
background-position-x:540px ;
background-size: 800px;
}
footer{
display: flex;
margin-top: 60px;
justify-content: space-around;
font-size: 28px;

}
